attrs==22.1.0
blinker==1.6.3
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.7
et-xmlfile==1.1.0
Flask==3.0.0
idna==3.4
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
MarkupSafe==2.1.3
mysql-connector-python==8.0.31
numpy==1.23.5
openai==0.25.0
openapi==1.1.0
openpyxl==3.0.10
pandas==1.5.2
pandas-stubs==1.5.2.221124
Pillow==9.3.0
protobuf==3.20.1
PyMySQL==1.1.0
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.6
requests==2.28.1
six==1.16.0
SpeechRecognition==3.9.0
tk==0.1.0
tqdm==4.64.1
types-pytz==2022.6.0.1
typing_extensions==4.4.0
urllib3==1.26.13
Werkzeug==3.0.0
