<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A Website Created as a Marist Capping Project to allow Gtel user to manage Static IP addresses" />
    <meta name="author" content="
    Christian Bauer,
    Steven Boucher,
    Liam Haggerty,
    Easton Eberwein,
    Nick Vasquez"
    />
    <title>Dashboard - Archtop Fiber</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4" ></script>

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">
            <img src="{{ url_for('static', filename='img/archtop_logo.png') }}" alt="Archtop Fiber Logo" width="210" height="45">
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form> -->
            <!-- Navbar
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="login.html">Logout</a></li>
                    </ul>
                </li>
            </ul>-->
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!-- <div class="sb-sidenav-menu-heading">Core</div> -->
							<a class="nav-link" href="index.html" data-link="index">
								<div class="sb-nav-link-icon">
									<i class="fas fa-home" style="color: #ffffff;"></i>
								</div> Dashboard
							</a>
							<a class="nav-link" href="devices.html" data-link="devices">
								<div class="sb-nav-link-icon">
									<i class="fas fa-server" style="color: #ffffff;"></i>
								</div> Devices
							</a>
							<a class="nav-link" href="logs.html" data-link="logs">
								<div class="sb-nav-link-icon">
									<i class="fas fa-list" style="color: #ffffff;"></i>
								</div> Logs
							</a>
							<!-- <a class="nav-link" href="users.html" data-link="users">
								<div class="sb-nav-link-icon">
									<i class="fas fa-users" style="color: #ffffff;"></i>
								</div> Users
							</a> -->
							<!-- <div class="sb-sidenav-menu-heading">Interface</div><a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div></a><div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion"><nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="layout-static.html">Static Navigation</a><a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a></nav></div><a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div></a> -->
							<div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth"> Authentication <div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>
									<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="login.html">Login</a>
											<a class="nav-link" href="register.html">Register</a>
											<a class="nav-link" href="password.html">Forgot Password</a>
										</nav>
									</div>
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError"> Error <div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>
									<div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="401.html">401 Page</a>
											<a class="nav-link" href="404.html">404 Page</a>
											<a class="nav-link" href="500.html">500 Page</a>
										</nav>
									</div>
								</nav>
							</div>
                    </div>
                </div>
                <!--
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Admin
                </div> -->        
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4 mt-3">
                    <div class="row">
                        <!--Left column of the screen, takes up 3/4 of screen width-->
                        <div class="col-xl-9 col-md-6" >
                            <div class="row"> 
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body">
                                            <!--uses Font Awesome icons-->
                                            <span class="info-header"><i class="fa-solid fa-server" style="color: #ffffff; margin-right: 5;" ></i></i>Total Devices</span> 
                                            <span class="info-data">{{total_devices_count}}</span> 
                                        </div>
                                        <!-- <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="devices.html">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-success text-white mb-4">
                                        <div class="card-body">
                                            <span class="info-header"><i class="fa-solid fa-server" style="color: #43c81e; margin-right: 5;"></i>Online Devices</span> 
                                            <span class="info-data">{{reachable_device_count}}</span> 
                                        </div>
                                        <!-- <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="devices.html">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-warning text-white mb-4">
                                        <div class="card-body">
                                            <span class="info-header"><i class="fa-regular fa-circle-user" style="color: #ffffff; margin-right: 5;"></i>Static IP Accounts</span> 
                                            <span class="info-data">{{static_devices_count}}</span>
                                        </div>
                                        <!-- <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="devices.html">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-danger text-white mb-4">
                                        <div class="card-body">
                                            <span class="info-header"><i class="fa-solid fa-circle-xmark" style="color: #d21414; margin-right: 5;"></i>IPs Unreachable</span> 
                                            <span class="info-data">{{unreachable_device_count}}</span> 
                                        </div>
                                        <!-- <div class="card-footer d-flex align-items-center justify-content-between">
                                            <a class="small text-white stretched-link" href="devices.html">View Details</a>
                                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <i class="fas fa-chart-area me-1"></i>
                                            Requests
                                        </div>

                                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas>
                                            <!-- Will have to see about changing where this script is -->
                                        <script>
                                            var ctx = document.getElementById("myAreaChart").getContext("2d");
                                            var lineChart = new Chart(document.getElementById('myAreaChart'),{
                                            type: "line",
                                            data: {
                                                labels: {{ labels | tojson }},
                                                datasets: [{

                                                        label: "Starts in 15 Minute Intervals",

                                                        data: {{ values | tojson }},
                                                        fill: true,
                                                        backgroundColor: "#f15b4070",
                                                        pointBackgroundColor: "#f15b40",
                                                        pointBorderColor: "#f15b40",
                                                        pointHoverBackgroundColor: "#f15b40",
                                                        pointHoverBorderColor: "#f15b40",
                                                        lineTension: .1,
                                                        borderColor: "#f15b40",
                                                    }
                                                ]
                                            },
                                            options: {
                                                legend: {
                                                    labels: {
                                                        fontColor: "white"
                                                    }
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            fontColor: "white",
                                                            beginAtZero: true
                                                        },
                                                        gridLines: {
                                                            color: "#FFFFFF80"
                                                        }
                                                    }],
                                                    xAxes: [{
                                                        ticks: {
                                                            fontColor: "white",
                                                            maxRotation: 35,
                                                            minRotation: 35,
                                                            beginAtZero: true
                                                        },
                                                        gridLines: {
                                                            color: "#FFFFFF80"
                                                        }
                                                    }]
                                                },
                                                response: false
                                            }
                                        });
                                        </script></div>

                                    </div>
                                </div>
                                <!--
                                <div class="col-xl-6">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <i class="fas fa-chart-bar me-1"></i>
                                            Grants
                                        </div>
                                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                        <!-- Right column for system status -->
<div class="col-xl-3 col-md-6">
    <div class="card mb-4">
        <div class="card-header text-center">
            <h5 class="card-title">
                <i class="fas fa-database fa-2x align-middle me-2"></i><span class="align-middle">System Status</span>
            </h5>
        </div>
        <div class="card-body">
            <!-- Check the status and change the icon and text accordingly -->
            <div class="text-center">
                {% if serverOneConnection == 'online' and serverTwoConnection == 'online' %}
                    <!-- Green check mark for system status when both are online -->
                    <i class="fa-regular fa-circle-check fa-8x" style="color: #43c81e;"></i>
                    <br>
                    <span class="mx-2">All Good!</span>
                {% elif serverOneConnection == 'online' or serverTwoConnection == 'online' %}
                    <!-- Yellow symbol when one server is up but the other is down -->
                    <i class="fa-solid fa-circle-exclamation fa-8x" style="color: #ffd700;"></i>
                    <br>
                    <span class="mx-2">One Server Down</span>
                {% else %}
                    <!-- Red Circle X for when both are down -->
                    <i class="fa-regular fa-circle-xmark fa-8x" style="color: #d21414;"></i>
                    <br>
                    <span class="mx-2">Servers Down</span>
                {% endif %}
            </div>
            <!-- Divider -->
            <hr class="my-4">
            <!-- Icons and text for servers -->
            <div class="text-center">
                <div style="display: inline-block;">
                    <!-- Check the status and change the icon color accordingly -->
                    {% if serverOneConnection == 'online' %}
                    <i class="fas fa-database fa-2x" style="color: #43c81e;"></i>
                    {% else %}
                        <!-- Red icon when freeradius is down -->
                        <i class="fas fa-database fa-2x" style="color: #d21414;"></i>
                    {% endif %}
                    <br>
                    <span class="mx-2">Server One</span>
                </div>
                <div style="display: inline-block; margin-left: 20px;">
                    <!-- Check the status and change the icon color accordingly -->
                    {% if serverTwoConnection == 'online' %}
                        <i class="fas fa-database fa-2x" style="color: #43c81e;"></i>
                    {% else %}
                        <!-- Red icon when sql_server is down -->
                        <i class="fas fa-database fa-2x" style="color: #d21414;"></i>
                    {% endif %}
                    <br>
                    <span class="mx-2">Server Two</span>
                </div>
            </div>
        </div>
    </div>
</div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-dark mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Archtop Fiber</div>
                        <div>
                            <a href="https://gtel.net">Gtel</a>
                            &middot;
                            <a href="https://archtopfiber.com">Archtop Fiber</a>
                            &middot; 
                            <a href="https://github.com/24Bouchers/Capping">Github</a>                          
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="../static/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="../assets/demo/chart-area-demo.js"></script>
    <script src="../assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="../static/js/datatables-simple-demo.js"></script>
</body>
</html>